body {
	font-family: 'Open Sans', sans-serif, Arial !important;
	position: relative;
}

.sidebar {
	min-height: 48px;
	background-color: #333333;
	position: relative;
	width: 100%;
	overflow: hidden;
	font-weight: bold;
	height: 75px;
	opacity: 0.9;
}

.sidebar:hover {
	opacity: 1;
}

.sidebar ul {
	clear:left;
	float:left;
	position:relative;
	left:50%;
	text-align:center;
	color: #fff;
}

.sidebar ul li {
	display:block;
	float:left;
	position:relative;
	right:60%;
}

.sidebar li {
		padding: 13px 35px;
}

.sidebar a {
		color: #fff;
		text-decoration: none;
}

.sidebar li:hover {
	background: #fff;
	color: #1e1e1e;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.sidebar a:hover {
	background: #fff;
	color: #1e1e1e;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.centertext {
	position: absolute;
	top: 275%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 7px;
	border:solid 1px #999;
	box-shadow: 5px 5px 5px #888888;
}

.centertext2 {
	position: absolute;
	top: 600%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 7px;
	border:solid 1px #999;
	box-shadow: 5px 5px 5px #888888;
}