
/* Preliminary */

@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Bungee:400,700");

@font-face {
    font-family: "Hylian";
    src: url('../fonts/Hylian.eot');
    src: url('../fonts/Hylian.woff') format('woff'), url('../fonts/Hylian.ttf') format('truetype'),
    url('../fonts/Hylian.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Hacked";
    src: url('../fonts/hacked.eot');
    src: url('../fonts/hacked.woff') format('woff'), url('../fonts/hacked.ttf') format('truetype'),
    url('../fonts/hacked.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}


/* Navigation */

nav>ul>li {
    list-style-type: none;
    display: inline;
    padding: 8px 12px 8px 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
}

nav>ul>li a {
    text-decoration: none;
    color: white;
}

nav>ul>li>a[href="#"] {
    color: #bababa;
}

nav>ul>li:hover,  nav>ul>li:hover a{
    background-color: white;
    color: #5e5e5e;
}

nav>ul {
    padding: 10px;
    text-align: center;
    height: auto;
}

nav {
    width: 75%;
    margin: 0 auto;
    background-color: #5e5e5e;
    border-color: transparent;
    border-radius: 15px 4px 15px 4px;
    min-width: 300px;
    font-size: 14px;
}


/* Links */

a {
    text-decoration: none;
    color: #b5b5b5;
    font-weight: bold;
}

a:hover {
    color: #2f8429;
}


/* Content */

#logo img {
    width: 250px;
    height: 250px;
    border-radius: 30px 80px 30px 80px;
}

#logo p {
    font-family: 'hacked', monospace;
    font-size: 55px;
    color: #5e5e5e;
}

h3 {
    color: #5e5e5e;
}

footer {
    background-color: #5e5e5e;
    color: white;
}

hr {
    width: 50%;
    border-color: #5e5e5e;
}

p {
    padding: 10px;
    font-size: 14px;
}

button {
     background-color: #76dd54;
     background-image: -moz-linear-gradient(#76dd54, #4fa533);
     background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#76dd54), to(#4fa533));
     background-image: -webkit-linear-gradient(#76dd54, #4fa533);
     border: 0 transparent;
     width: 125px;
     height: 40px;
     border-radius: 5px;
     color: white;
     font-size: 13px;
 }

button:disabled {
    background-color: #a0a0a0;
    background-image: -moz-linear-gradient(#a0a0a0, #7a7a7a);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a0a0a0), to(#7a7a7a));
    background-image: -webkit-linear-gradient(#a0a0a0, #7a7a7a);
}

button:enabled:hover {
    background-color: #5faf44;
    background-image: -moz-linear-gradient(#5faf44, #478234);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5faf44), to(#478234));
    background-image: -webkit-linear-gradient(#5faf44, #478234);
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.highpadding {
    padding: 50px 20px 50px 20px;
}

.gray {
    background-color: #f2f2f2;
}

.white {
    background-color: white;
}

.slim {
    max-width: 75%;
}

.panel {
    width: auto;
}

.hylian {
    font-family: "Hylian", sans-serif;
    font-size: 32px;
    margin: 0;
    color: #5e5e5e;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hacked {
    font-family: "Hacked", sans-serif;
    font-size: 48px;
    margin: 0;
    color: #5e5e5e;
}

.column3, .column2, .column4{
    min-height: 120px;
    padding: 10px;
}

.highminheight {
    min-height: 200px;
}

.column4 div {
    float: left;
    width: 25%;
}

.column3 div {
    float: left;
    width: 33.333%;
}

.column2 div {
    float: left;
    width: 50%;
    padding: 0;
}

.textspacing {
    line-height: 1.8em;
}