@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 769px) {
    /* Navigation */
    nav {
        position: fixed;
        margin: 0 auto;
        top: 0;
        width: 100%;
        background-color: #3a5683;
        z-index: 1;
    }

    nav ul {
        width: 960px;
        padding: 15px 30px 15px 30px;
        margin: 0 auto;
        text-align: center;
    }

    nav li {
        list-style-type: none;
        letter-spacing: 1px;
        display: inline;
        padding: inherit;
        transition: 0.2s all;
    }

    nav li a {
        padding: 10px 30px 10px 30px;
        text-decoration: none;
        color: white;
        font-size: 0.8em;
        text-transform: uppercase;
    }

    nav li:hover {
        background-color: #6290c3;
    }

    nav li a:hover {
        color: #065a82;
    }

    hr {
        border: 1px solid #555;
        margin: 10px auto;
        width: 80%;
    }

    .red hr {
        border: 1px solid white;
        margin: 10px auto;
        width: 80%;
    }

    .blue hr {
        border: 1px solid #8bbfef;
        margin: 10px auto;
        width: 80%;
    }

    .lightgray {
        border: 1px solid #ccc;
        margin: 10px auto;
        width: 80%;
    }

    /* Content */
    i {
        padding: 10px 0;
    }

    a {
        text-decoration: none;
        color: #bbb;
        font-weight: bold;
    }

    button {
        margin: 20px auto;
        background: linear-gradient(#3ab3f4, #1465ce);
        border-radius: 5px;
        border: none;
        color: white;
        padding: 10px;
        width: 200px;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
    }

    button:hover {
        background: linear-gradient(#247ef4, #0358c6);
        cursor: pointer;
    }

    a:hover {
        color: #3da5d9;
    }

    .blue a {
        text-decoration: none;
        color: #2274a5;
        font-weight: bold;
    }

    .blue a:hover {
        color: #022f40;
    }

    .deepblue a {
        text-decoration: none;
        color: #63adf2;
        font-weight: bold;
    }

    .deepblue a:hover {
        color: #022f40;
    }

    /* Background Images */
    .image1 {
        padding: 100px 0 !important;
        margin: 50px 0 0 0;
        background: url("../img/img_staticweb1.png") fixed bottom;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .image2 {
        padding: 100px 0 !important;
        margin: 50px 0 0 0;
        background: url("../img/img_staticweb2.png") fixed bottom;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .image3 {
        padding: 100px 0 !important;
        margin: 50px 0 0 0;
        background: url("../img/img_staticweb3.png") fixed bottom;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .image4 {
        padding: 100px 0 !important;
        margin: 50px 0 0 0;
        background: url("../img/img_staticweb4.png") fixed bottom;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .image1 h1, .image2 h1, .image3 h1, .image4 h1 {
        width: 30%;
        padding: 15px;
        background: rgba(7, 7, 7, 0.5);
        border-radius: 10px;
    }

    /* Classes */
    .panel {
        text-align: center;
        width: 100%;
        padding: 75px 0;
    }

    .panel p {
        text-indent: 30px;
        text-align: left;
        width: 960px;
        line-height: 1.9em;
        margin: auto;
    }

    .panel h1 {
        margin: auto;
        text-align: center;
    }

    .twist {
        width: 200px;
        border-radius: 20px 40px 20px 40px;
    }

    .portfolio img {
        width: 300px;
        border-radius: 10px;
    }

    .portfolio-large img {
        width: 500px;
        border-radius: 10px;
    }

    .portfolio-large {
        padding: 20px 0;
    }

    .panel table {
        border-collapse: collapse;
        margin: auto;
        width: 960px;
    }

    .panel table td {
        height: 50px;
        padding: 0 20px;
    }

    .panel table thead {
        font-weight: bold;
        text-transform: uppercase;
        background-color: #7dbaf2;
    }

    .footer {
        width: 100%;
        padding: 10px 0;
        background-color: #4c5760;
    }

    .footer p {
        width: 960px;
        margin: auto;
        text-align: center;
        color: white;
        font-size: 12px;
    }

    .bigtext {
        font-size: 2.3em;
    }

    .blue {
        background-color: #63adf2;
        color: white;
    }

    .deepblue {
        background-color: #2274a5;
        color: white;
    }

    .darkblue {
        background-color: #022f40;
        color: white;
    }

    .red {
        background-color: #db4c36;
        color: white;
    }

    .bodylist {
        margin: auto;
        width: 90%;
        padding: 20px 0;
        text-align: center;
    }

    .bodylist li {
        list-style-type: none;
        display: inline;
        padding: 0 75px;
    }

    .bodylist li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .bodylist li a:hover {
        color: #065a82;
    }
}

@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
    }

    nav {
        width: 100%;
        background-color: #63adf2;
    }

    nav ul {
        margin: 0;
        padding-left: 0;
        width: 100%;
    }

    nav ul li {
        padding: 8px 0;
        list-style: none;
        display: block;
        border-bottom: 1px solid #2274a5;
    }

    nav ul li a {
        padding: 8px 100% 8px 0;
        text-decoration: none;
        font-weight: bold;
        color: white;
    }

    nav ul li:hover,  nav ul li:active a {
        background-color: #2274a5;
        color: #022f40;
    }

    .panel {
        text-align: center;
        width: 100%;
        padding: 40px 0;
    }

    .panel p {
        text-indent: 30px;
        text-align: left;
        width: 90%;
        line-height: 1.9em;
        margin: auto;
    }

    .blue {
        background-color: #63adf2;
        color: white;
    }

    .deepblue {
        background-color: #2274a5;
        color: white;
    }

    .darkblue {
        background-color: #022f40;
        color: white;
    }

    .red {
        background-color: #db4c36;
        color: white;
    }

    hr {
        border: 1px solid #555;
        margin: 10px auto;
        width: 80%;
    }

    .red hr {
        border: 1px solid white;
        margin: 10px auto;
        width: 80%;
    }

    .blue hr {
        border: 1px solid #8bbfef;
        margin: 10px auto;
        width: 80%;
    }

    .lightgray {
        border: 1px solid #ccc;
        margin: 10px auto;
        width: 80%;
    }

    .bigtext {
        margin: 0 auto;
        text-align: center;
        font-size: 2.3em;
    }

    .image1 {
        padding: 15% 0;
        background: url("../img/img_staticweb1.png") fixed bottom;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .image2 {
        padding: 15% 0;
        background: url("../img/img_staticweb2.png") fixed bottom;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .image3 {
        padding: 15% 0;
        background: url("../img/img_staticweb3.png") fixed bottom;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .image4 {
        padding: 15% 0;
        background: url("../img/img_staticweb4.png") fixed bottom;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .image1 h1, .image2 h1, .image3 h1, .image4 h1 {
        width: 50%;
        padding: 15px;
        background: rgba(7, 7, 7, 0.5);
        border-radius: 10px;
    }

    .footer {
        width: 100%;
        padding: 10px 0;
        background-color: #4c5760;
    }

    .footer p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        color: white;
        font-size: 12px;
    }

    a {
        text-decoration: none;
        color: #bbb;
        font-weight: bold;
    }

    a:hover {
        color: #3da5d9;
    }

    .blue a {
        text-decoration: none;
        color: #2274a5;
        font-weight: bold;
    }

    .blue a:hover {
        color: #022f40;
    }

    .deepblue a {
        text-decoration: none;
        color: #63adf2;
        font-weight: bold;
    }

    .deepblue a:hover {
        color: #022f40;
    }

    .twist {
        width: 200px;
        border-radius: 20px 40px 20px 40px;
    }

    .bodylist {
        margin: 0 auto;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .bodylist li {
        list-style-type: none;
        display: inline;
        padding: 0 20px;
    }

    .bodylist li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .bodylist li a:hover {
        color: #065a82;
    }

    .panel table {
        border-collapse: collapse;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .panel table td {
        height: 50px;
    }

    .panel table thead {
        font-weight: bold;
        text-transform: uppercase;
        background-color: #7dbaf2;
    }

    .portfolio img {
        width: 300px;
        border-radius: 10px;
    }

    .portfolio-large img {
        width: 500px;
        border-radius: 10px;
    }

    .portfolio-large {
        padding: 20px 0;
    }
}