.logo {
	position: absolute;
	top: 23%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.foot {
	position: absolute;
	top: 95%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: #5a5a5a;
	font-size: 13px;
}

.foot p{
	font-weight: bold;
}

.foot p a{
		text-decoration: none;
		color: #5a5a5a;
}

.login {
	position: absolute;
	top: 55%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: #5a5a5a;
}

.login input {
	font-size: 18px;
	border:solid 1px #999;
	width: 220px;
	height: 25px;
	background-color: #eeeeee;
	box-shadow: 5px 5px 5px #888888;
	text-align: center;
}

.test {
	position: absolute;
	top: 45%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: #FF0000;
}